

  .outer{
    margin:50px;
    border: solid 2px rgb(46, 24, 158);
    width:400px;
    height:450px;
    border-radius: 20px;
    background-color: rgb(82, 181, 198);
    margin-left: 500px;

    
  }

  .flabel{
    font-weight: bolder;
    font-size: larger;
  }

  .outer h3 {
    color: white;
    text-align: center;
    padding-top: 5px;
    
  }
  .required{
    color:red
  }
 