<div class="position">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="#">E-Commerce</a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/flightbooking">Flight </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" >Hotel </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/bookinghistory">Booking-History </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
     
        
        
        <li class="nav-item">
          <button (click)="logout()" type="button" class="btn btn-light">Logout</button>
        </li>
      </ul>
      <div class="nav-item active" style="color:white">
        <a class="nav-link " href="#"> {{getemail}}</a>
      </div >
        
        <button  routerLink="/login" type="button" class="btn btn-light">Login/Register</button>
        
     
    </div>
  </nav>
</div>


  
  






