<div class="format">
<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">Sr No</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">No of Passenger</th>
          <th scope="col">Contact No</th>
          <!-- <th scope="col">Email Id</th> -->
          <th scope="col">Flight Name</th>
          <th scope="col">From</th>
          <th scope="col">To</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Price</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of booked index as i">
            <td>{{i+1}}</td>
            <td>{{user.fname}}</td>
            <td>{{user.lname}}</td>
            <td>{{user.passenger}}</td>
            <td>{{user.contact}}</td>
            <!-- <td>{{user.email}}</td> -->
            <td>{{user.name}}</td>
            <td>{{user.from}}</td>
          
            <td>{{user.to}}</td>
            <td>{{user.date}}</td>
            <td>{{user.time}}</td>
            <td>{{user.price}}</td>
            <td>{{user.status}}
              <span *ngIf="user.status == 'Active'">
                <button type="button" class=" btn-danger" (click)="cancelbooking(user)">Cancel</button>
              </span>
            </td>
          
        </tr>
      </tbody>
  </table>
</div>
